{
	"apiKeys": {
		"openWeather": {
			"apiKey":""
		},
			"firebaseKeys": {
			"apiKey": "",
			"authDomain": "",
			"databaseURL": "",
			"projectId": "",
			"storageBucket": "",
			"messagingSenderId": ""
    }
  }
}